.card-header {
    color: black;
    background-color: orange;  
}

.card-body, .btn {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.btn {
    border: 1px solid rgb(255, 255, 255);
    margin: 20px;
}